<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/master.css">
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>C bang</title>